---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1100%20Fillmore%20StreetDenver,%20CO%2080206-3334&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1100",
                       "short_name" : "1100",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Fillmore Street",
                       "short_name" : "Fillmore St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Congress Park",
                       "short_name" : "Congress Park",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                [...]
